
<kendo-card width="100%">
  <kendo-card-header>
    <h3>Document Detail Report</h3>
  </kendo-card-header>
  <kendo-card-body>
    <form [formGroup]="searchForm" class="k-form">
      <div class="searchbox">
        <div class="rows">
          <div class="cols">
            <kendo-textbox placeholder="Name*" formControlName="name">
            </kendo-textbox>
          </div>

          <div class="cols">
            <kendo-textbox placeholder="Din*" formControlName="din">
            </kendo-textbox>
          </div>
          <div class="cols">
            <kendo-datepicker placeholder="DOB" formControlName="dob"></kendo-datepicker>
          </div>
          <div class="cols">
            <kendo-textbox placeholder="Contexts" formControlName="contexts">
            </kendo-textbox>
          </div>
          </div>

          <div class="rows">
            <div class="cols">
              <kendo-textbox placeholder="Address" formControlName="address">
              </kendo-textbox>
            </div>
            <div class="cols">
              <kendo-textbox placeholder="Father Name" formControlName="father_name">
              </kendo-textbox>
            </div>
  
            <div class="cols">
           
              <kendo-combobox  placeholder="State" formControlName="state">
              </kendo-combobox>
            </div>
            <div class="cols">
              <kendo-datepicker placeholder="Start Date*" formControlName="startdate"></kendo-datepicker>
            </div>
          </div>
  
        <div class="rows">
          <div class="cols searchbtn">
            <button kendoButton (click)="onSearch()" icon="search">
              Search
            </button>
          </div>
        </div>
      </div>
    </form>
  </kendo-card-body>
</kendo-card>
<div class="panelbar-wrapper">
    <div *ngFor="let item of allData | keyvalue">
      <kendo-panelbar>   
      <kendo-panelbar-item  title=" {{item.key}}" >
        <ng-template kendoPanelBarContent>
      <table id="customers">   
        <tr *ngFor="let data of getValueLoop(item.value)| keyvalue">
          <th>
            {{data.key}}
          </th>
          <td >
            <span >
              {{checkValueObj(data.value) ==  '[object Object]'?'':checkValueObj(data.value)}}
            </span>         
            <button *ngIf="checkValueObj(data.value) == '[object Object]'" type="button" (click)="openDialog(data.value,data.key)">View</button>
          </td>

        </tr>
      </table>  
        </ng-template>
      </kendo-panelbar-item>
    </kendo-panelbar>
    </div>
</div>

     <kendo-dialog
      title="{{title}}"
      *ngIf="opened"
      (close)="close('cancel')"
      [minWidth]="250"
      [width]="450"
    >
    <table id="customers">   
      <tr *ngFor="let dataInput of inputDataObj| keyvalue">
        <th>
          {{dataInput.key}}
        </th>
        <td >
            {{dataInput.value }}
      
        </td>

      </tr>
    </table>  
     
    </kendo-dialog>
